/*---- Base ----*/
body {
  background-color: #1d3557;
  max-width: 1000px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #f1faee;
  margin: auto;
  align-content: center;
}

header {
  display: flex;
  align-items: center;
}
header nav ul {
  border: 2px #a8dadc;
  display: flex;
  overflow-x: auto;
}
header nav li {
  border: 1px #a8dadc solid;
  line-height: 3em;
  list-style-type: none;
  padding: 0px 15px 0px 15px;
  height: 3em;
  max-width: 7em;
  margin: 1em;
  border-radius: 15px;
  text-align: center;
  color: #e63946;
}
header nav li:hover {
  background-color: #e63946;
}
header nav li:hover a {
  color: #1d3557;
}
header nav a {
  color: #e63946;
  text-decoration: none;
}

.best-film {
  background-color: #457b9d;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  border: 2px #e63946 solid;
  border-radius: 15px;
}
.best-film .best-film__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.best-film .best-film__image img {
  border-radius: 15px;
}
.best-film .best-film__data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}
.best-film .best-film__data .best-film__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.best-film .best-film__data .best-film__title h1 {
  width: 100%;
}
.best-film .best-film__data .best-film__description {
  height: 80%;
  padding: 0px 0px 0px 20px;
  border-radius: 20px;
}

.logo {
  padding: 15px;
  width: 25%;
}
.logo img {
  size: cover;
  min-width: 100%;
  max-width: 100%;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}
.categories section {
  max-width: 1000px;
  min-width: 190px;
  border: 2px #e63946 solid;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
  background-color: #457b9d;
}
.categories section h1 {
  padding-left: 30px;
}

/*---- Utils ----*/
/*---- Layouts ----*/
.scrolling {
  display: flex;
}
.scrolling img {
  max-width: 100px;
}
.scrolling .film-list {
  max-height: 230px;
  display: flex;
  overflow: hidden;
  padding-bottom: 20px;
}
.scrolling .film-list .film-list__slide {
  background-size: cover;
  min-width: 135px;
  height: 200px;
  border: solid 1px #a8dadc;
  margin: 10px;
}
.scrolling .film-list .film-list__slide:hover {
  transform: scale(1.05);
}
.scrolling .film-list .film-list__slide h1 {
  height: 50px;
  vertical-align: top;
}

/*---- Components ----*/
button {
  height: 70%;
  background-color: #1d3557;
  border: none;
  border-radius: 15px;
  color: #e63946;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}
button:hover {
  background-color: #e63946;
  color: #1d3557;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 40px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  color: #1d3557;
  background-color: #1d3557;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #1d3557;
  font-size: 14px;
  margin: auto;
  border: 1px solid #a8dadc;
  width: 80%;
  height: 85%;
  /* The Close Button */
}
.modal-content h4 {
  color: #e63946;
}
.modal-content .modal__image-and-details {
  background-color: #a8dadc;
  margin: 1%;
  display: flex;
  height: 60%;
}
.modal-content .modal__image-and-details .modal__image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 20%;
}
.modal-content .modal__image-and-details .modal__image img {
  size: cover;
  min-width: 100%;
  max-width: 100%;
}
.modal-content .modal__image-and-details .modal__details {
  background-color: #a8dadc;
  width: 100%;
  padding-left: 15px;
  overflow: auto;
}
.modal-content .modal__image-and-details .modal__details table {
  width: 100%;
}
.modal-content .modal__image-and-details .modal__details table td {
  text-align: start;
  min-width: 82px;
}
.modal-content .modal__image-and-details .modal__details table tr {
  max-height: 50px;
  padding: 0px;
}
.modal-content .modal__film-notes-resume {
  display: flex;
  background-color: #a8dadc;
  margin: 1%;
  height: 33%;
  overflow: auto;
}
.modal-content .modal__film-notes-resume table {
  width: 100%;
  text-align: center;
}
.modal-content .modal__film-notes-resume table td {
  max-height: 50px;
  padding: 0px;
}
.modal-content .modal__film-notes-resume .modal__film-notes {
  width: 20%;
}
.modal-content .modal__film-notes-resume .modal__film-resume {
  padding-left: 15px;
  width: 80%;
}
.modal-content .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #a8dadc;
  font-size: 40px;
  font-weight: bold;
  z-index: 3;
}
.modal-content .close:hover, .modal-content .close:focus {
  color: #e63946;
  text-decoration: none;
  cursor: pointer;
}

@media all and (min-width: 512px) {
  .best-film .best-film__title h1 {
    margin-left: 40px;
  }
  .best-film .best-film__title button {
    margin-right: 40px;
  }
}
@media all and (max-width: 512px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo {
    padding: 5px;
    min-width: 100px;
  }
  header .logo img {
    width: 100px;
  }
  header nav ul {
    margin: 0px;
    padding: 0px;
  }

  .best-film .best-film__image {
    width: 100px;
  }
  .best-film .best-film__title {
    justify-content: space-between;
  }
  .best-film h1 {
    margin-left: 10px;
  }
  .best-film button {
    margin-right: 10px;
  }

  .modal-content .close {
    top: 0px;
    right: 10px;
  }
  .modal-content .modal__image-and-details .modal__image {
    display: none;
  }
  .modal-content .modal__image-and-details .modal__details {
    width: 100%;
  }
}
@media all and (min-width: 1024px) {
  .modal-content {
    font-size: 18px;
  }
  .modal-content .modal__image-and-details .modal__details td:nth-child(odd) {
    width: 135px;
  }
}

/*# sourceMappingURL=style.css.map */
